/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Themes Specific
    # Twentytwenty
/*--------------------------------------------------------------


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.form-row.woo-comment-captcha {
    clear: both;
    margin: 0;
    margin-top: 15px;
    display: block;
    clear: both;
}

label[for=comment_captcha] {
    display: block !important;
}

/*--------------------------------------------------------------
## Twentytwenty
--------------------------------------------------------------*/
.theme-twentytwenty #review_form .woo-comment-captcha {
    max-width: 58rem;
    margin: auto;
}