/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Themes Specific
    # Twentytwenty
/*--------------------------------------------------------------


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
label[for=comment_captcha] {
    display: block !important;
}

/*--------------------------------------------------------------
## Twentytwenty
--------------------------------------------------------------*/
.theme-twentytwenty #review_form .woo-comment-captcha {
    max-width: 58rem;
    margin: auto;
}