/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Admin Tabs
# Admin Tab Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Admin Tab Section 
--------------------------------------------------------------*/
.nav-tab-wrapper ul li a#rfw-general.nav-tab:before {
    content: "\f111";
}
.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible,
.wbcom-wrap .notice.notice-error {
  display: none !important;
}
.nav-tab-wrapper ul li a#wp_login.nav-tab:before {
    content: "\f120";
}
.nav-tab-wrapper ul li a#wp_register.nav-tab:before {
    content: "\f448";
}
.nav-tab-wrapper ul li a#wp_lostpassword.nav-tab:before {
    content: "\f177";
}
.nav-tab-wrapper ul li a#woo_comments.nav-tab:before {
    content: "\f199";
}
.nav-tab-wrapper ul li a#bp_register.nav-tab:before {
    content: "\f448";
}
.nav-tab-wrapper ul li a#signup.nav-tab:before {
    content: "\f448";
}
.nav-tab-wrapper ul li a#login.nav-tab:before {
    content: "\f120";
}
.nav-tab-wrapper ul li a#forgotpassword.nav-tab:before {
   content: "\f177";
}
.nav-tab-wrapper ul li a#guestcheckout.nav-tab:before {
   content: "\f174";
}


.rfw-tabs-section .nav-tab-wrapper ul li a.nav-tab span.dashicons {
  display: inline-block;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color 0.1s ease-in;
  margin-right: 8px;
}

/*--------------------------------------------------------------
# Admin Tab Content 
--------------------------------------------------------------*/
#wb-recaptcha h2 {
    margin-top: 0;
    color: #2A32EF;
    font-size: 20px;
}
.rfw-tab-content input[type="text"],
.wbcom-settings-section-wrap select,
.rfw-tab-content .wbcom-settings-section-options [type="number"] {
    width: 100%;
    border-radius: 7px;
    box-shadow: none;
    height: 40px;
    border-color: #e0e0e0;
    background-color: #fafafa;
}

.rfw-tab-content .woocommerce-save-button {
  margin-top: 15px;
}

.nav-tab-wrapper ul li a.nav-tab:before {
  display: none;
}
.hide {
  display: none;
}

h1.wbcom-plugin-heading {
  display: block !important;
}
